// Styling for the calltoaction2 section
#callToAction {
  position: relative;
  .wt-background-callToImg {
    background: fixed url(../img/callToAction-bg.jpeg) no-repeat 50% 50% / cover , #3c506f;
  }
  .wt-background-callToOverlay {
    background: rgba(0, 0, 0, 0.75);
  }
}