// Styling for the services section
section#services {
  .card {
    border: none;
    -webkit-box-shadow: 1px 0 30px rgba(14,136,221,.13);
    box-shadow: 1px 0 30px rgba(14,136,221,.13);
    border-radius: 5px;
    .card-body {
      .card-title {
        text-align: center;
      }
    }
  }
}

@media (min-width: 992px) {
  section#services {
    .card {
      min-height: 730px;
    }
  }
}
